{% extends "base.html.twig" %}

{% from "program/_program.html.twig" import programList %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block body %}
    <main class="container">
        <h1>Programes dans la catégorie '{{ category.name }}' :</h1>

        {% if programs is not empty %}
			{{ programList(programs) }}
		{% else %}
			Aucune série trouvée.
		{% endif %}
    </main>
{% endblock %}