.navbar {
    background-color: $primary;

    .navbar-brand {
        color: $white;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 400;
        font-size: 16pt;

        &:hover {
            color: $white;
        }
    }
}