{% from "_utils.html.twig" import dropdownButton %}

<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Wild Series</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item">
					{{ dropdownButton("Catégories") }}
				</li>
				<li class="nav-item">
					{{ dropdownButton("Acteurs") }}
				</li>
			</ul>
		</div>
	</div>
</nav>
